<tr>
    <td>
        {{article_title}}
    </td>
    <td>
        {{article_author}}
    </td>
    <td>
        {{article_source}}
    </td>
    <td>
        {{article_body}}
    </td>
    <td><button data-id="{{this.id}}" type="button" class="btn btn-danger delete">Delete</button>
    </td>
    <td><button data-id="{{id}}" type="button" class="btn btn-info edit">Edit</button>
    </td>
</tr>