<tr>
    <td>
        {{id}}
    </td>
    <td>
        {{title}}
    </td>
    <td>
        {{start}}
    </td>
    <td>
        {{end}}
    </td>
    <td>
        {{groupId}}
    </td>
    <td>
        {{location}}
    </td>
    <td>
        {{type}}
    </td>
    <td><button data-id="{{this.id}}" type="button" class="btn btn-danger delete">Delete Coming Soon...</button>
    </td>
    {{!-- <td><button data-id="{{id}}" type="button" class="btn btn-info edit">Edit</button>
    </td> --}} 
</tr>