<tr>
<td>
	{{link_title}}
 </td>
 <td>  
     {{link_text}}
</td>
 <td>  
     {{link_type}}
</td>
   <td><button data-id="{{this.id}}" type="button" class="btn btn-danger delete">Delete</button>
    </td>
    <td><button data-id="{{id}}" type="button" class="btn btn-info edit">Edit</button>
    </td>
</tr>